savedgames/fds/ftherlnd
savedgames/fds/mid_abysia.2h
savedgames/fds/mid_abysia.trn
dom6config
dom6config
savedgames/AshdodTest/__randommap_AshdodTest.d6m
savedgames/AshdodTest/__randommap_AshdodTest.map
savedgames/AshdodTest/ftherlnd
savedgames/AshdodTest/mid_gath.2h
savedgames/AshdodTest/mid_gath.trn
